@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
* {
  background-color: rgb(204, 197, 197);
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 5px solid black;
  margin: 25%;
}
#listContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 20px;
  font-family: 'Oswald', sans-serif;
  color: #232356;
}
.buttons{
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
}
button {
  background: #5e5df0;
  border-radius: 999px;
  box-shadow: #5e5df0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji",
    NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji",
    EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}
.lineItem{
  display: flex;
  flex-direction: row;
  font-size: 20px;
  justify-content: space-between;
  align-items: center;
  font-family: 'Oswald', sans-serif;
}
.clicked{
  text-decoration: line-through;
}
.unClicked{
  text-decoration: none;
}
.delButton{
  display: flex;
  align-items: center;
  justify-content: center;
}
input{
  font-size: 20px;
}

